html, body{
    width: 100%;
    height: 100%;
    margin: 0;
}

.grid-container {
    min-height: 100%;
    font-family:Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-areas: "header header"
        "nav nav"
        "aside main"
        "footer footer";
    grid-template-columns: 20% 80%;
    grid-template-rows: auto auto 1fr auto
}

.grid-container-form {
    display: grid;
    grid-template-columns: 50% 50%;
}

.flexbox-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flexbox-container a {
    width: 100px;
    padding: 5px;
    margin-bottom: 10px;
    background-color: #305496;
    text-align: center;
    text-decoration: none;
    color: white;
}

.flexbox-container a:hover {
    background-color: #182c50;
}

header {
    grid-area: header;
    padding: 20px 0px;
    color: white;
    text-align: center;
}
.logo{
    width: 250px;
}
nav {
    grid-area: nav;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #14529b;
}

li{
    float: left;

}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background-color: white;
    color: black;
}

aside {
    grid-area: aside;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-right: 3px solid;

}

.center{
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}

main {
    grid-area: main;
    padding: 50px;
}

#form-registro{
    border: 2px solid;
    padding: 20px;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}

form button {
    grid-column: 2;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    border: none;
    background-color: #305496;
}

form button:hover {
    background-color: #182c50;
}

fieldset {
    border: none;
}

main legend {
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}

main input {
    border-radius: 6px;
    margin-bottom: 5px;

}

footer {
    grid-area: footer;
    background-color: #14529b;
    color: white;
    text-align: center;
}